body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F2F6F8;  
}

.container {
    width: 100%;
    height: 100vh;
}

.container div {
    float: left;
}

.container__leftPart {
    width: 66%;
    height: 100%;
    background-color: #F2F6F8;
    position: relative;
}

.container__rightPart {
    width: 34%;
    height: 100%;
    text-align: center;
    /* background: linear-gradient(180deg,#673ab7,#3f51b5,#00bcd4,#3f51b5); */
    animation: animate-grad infinite 28s;
    color: white;
}

@keyframes animate-grad {
        0% {
            background-color: #673ab7
        }
        50% {
            background-color: #3f51b5;
        }
        100% {
            background-color: #00bcd4;
        }
}

.container__navbar {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -800px;
    height: 40px;
    width: 95%;
}

.container__navbar > div {
    float: right;
    font-size: 14px;
    color: #999999;
}

.container__navbar a {
    color: #03a9f4;
    text-decoration: none;
}

.container__navbar a:hover {
    text-decoration: underline;
}

.container__loginCard {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    background-color: white;
}

.loginCard__checkbox {
    margin-left: 20px;
    display: flex;
    width: 50%;
    align-items: center;
}

.loginCard__checkbox label {
    font-size: 14px;
    margin-left: 5px;
    color: #333333;
    cursor: pointer;
}

.loginCard__checkbox > input {
    height: 15px;
    width: 15px;
    border-radius: 2px;
    cursor: pointer;
}

.loginCard__checkbox input:checked {
    background-color: #03A9F4;
}
h1{
    margin: auto;
    /* background-color: red; */
}
h3{
   
    display: flex;
    color: red; 
    margin-left: 70px;
}
.container__loginCard h3 {
    padding-left: 25px;
    padding-top: 10px;
    color: #4C4C4C;
}

.container__loginCard > input {
    height: 30px;
    display: block;
    width: 85%;
    margin: 15px auto;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #c6d2d9;
    border-radius: 2px;
}


.container__loginCard input:placeholder-shown {
    color: #a2a2a2;
    font-size: 14px;
}

.container__loginCard a {
    text-decoration: none;
    margin-left: 40px;
    text-align: left;
    font-size: 14px;
    color: #03A9F4;
}

.container__loginCard a:hover {
    text-decoration: underline;
}

.loginBtn-link{
    width: 100%;
    margin: 15px auto;    
}

.loginCard__loginBtn {
    margin-left: -22px;
    width: 92%;
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    background-color: #03A9F4;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.4s;
}

.loginCard__loginBtn:hover {
    background-color: #038FCE;
}

/* .loginCard__loginBtn:disabled {
    background-color: #7bc4e6;
    cursor: not-allowed;
} */

 /* .loginCard__loginBtn:enabled {
    cursor: pointer;
}  */

.loginCard__line {
    display: flex;
    height: 50px;
    width: 100%;
}

.loginCard__leftLine, .loginCard__rightLine {
    height: 1px;
    width: 40%;
    background-color: #C6D2D9;
    margin-top: 22px;
    margin-left: 30px;
    margin-right: 10px;
}

.loginCard__rightLine {
    margin-left: 10px;
}

.loginCard__googleBtn {
    height: 45px;
    width: 90%;
    margin-left: 25px;
    background-color: white;
    border: 1px solid #C6D2D9;
    padding-top: -10px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
    color: #313437;
    text-align: center;

}

.loginCard__googleBtn:hover {
    background-color: #e4eaee;
}

.loginCard__googleBtn span {
    margin-left: 30px;
}

.loginCard__googleBtn img {
    margin-left: -40px;
}

.container__privacy {
    width: 100%;
    background-color: #F2F6F8;
    margin-top: 60px ;
}

.container__privacy p {
    margin-top: -15px;
    margin-left: 20px;
    font-size: 12px;
    color: #333333;
}

.container__privacy span {
    color: #03a9f4;
    cursor: pointer;
}

.container__privacy span:hover {
    text-decoration: underline;
}

.container__rightPart h2 {
    font-size: 32px;
}

.container__rightPart p {
    font-size: 18px;
    line-height: 26px;
}

.rightPart__appstore {
    margin-top: 20px;
    cursor: pointer;
}

.rightPart__pic {
    height: 400px;
    margin-top: 20px;
}

.rightPart__learnMore  {
    font-size: 12px;
    margin-top: 20px;
    margin-left: 45%;
}

.rightPart__learnMore a {
    text-decoration: none;
    color: white;
}

.rightPart__learnMore a:hover {
    text-decoration: underline;
}

/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {
    .container__rightPart {
        clear: both;
        min-width: 100%;
        
        animation: animate-grad infinite 28s;
    }
    @keyframes animate-grad {
        0% {
            background-color: #673ab7
        }
        50% {
            background-color: #3f51b5;
        }
        100% {
            background-color: #00bcd4;
        }
    }
    .container__rightPart h2 {
        font-size: 28px;
    }
    .container__loginCard {
        margin-left: 100px;
    }
    .container__navbar img{
        margin-left: 190px;
    }
    .container__loginCard p {
        padding-left: -110px;
    }
    .container__navbar > div > p {
        margin-right: 100px;
    }
} 